@import models.NotEntities.ForgotPasswordStep1
@(form:Form[ForgotPasswordStep1])

@main("Forgot Password") {

    <div class="container-fluid">
        <div class="">
            <div class="row row-centred margin-top300">
                <div class="col-md-3 col-centred ">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Forgot Password</h4>
                        </div>
                        <div class="panel-body">
                        @helper.form(action = routes.Users.forgotPasswordStep2()) {
                            <div class="row">
                                <span class="col-md-10 col-md-offset-1">
                                    <input type="text" name="email" value="@form("email").valueOr("")" placeholder="Enter your email address" class="form-control">
                                </span>
                            </div>


                            <div class="row margin-top20">
                                <div class="col-md-5 col-centred">
                                @if(form.hasGlobalErrors) {
                                    <div class="error">
                                        <font color="#8b0000"><b>@form.globalError.message</b></font>
                                    </div>}
                                </div>
                            </div>

                            <div class="row text-center margin-top20">
                                <div class="col-md-10 col-md-offset-1">
                                    <input  type="submit" value="Confirm" class="btn btn-primary btn-block">
                                </div>
                            </div>
                        </div>
                        }
                    </div>

                    <div class="row text-center margin-top30">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('body').addClass('background-pic');
        });
    </script>

}