@main("Complete booking"){

  <div class="container">


    <h3>ThankYou ,Your Booking has been Completed . We will contact you for confirmation once we get the payment .</h3>
   <div align="center"> <span> <i class="faa-passing animated fa fa-fighter-jet fa-5x"></i> </span></div>

    <h4><pre>Please visit us Again</pre></h4>









  </div>

  <script>

     var delay = 5000; //Your delay in milliseconds

setTimeout(function(){
 window.location = '@routes.Application.index()';
 }, delay);
 </script>





}