<div class="margin-top30 ">
    <div class="row">
        <div class="text-center">
            <h1>Let's Get In Touch!</h1>
        </div>
    </div>

    <div class="container">
        <div class="row margin-top30">
            <div class="col-md-1">
                <a href="@routes.ContactUss.newContact()"><i style="color: black" class="fa fa-paper-plane fa-4x"></i></a>
            </div>

            <div class="col-md-1 col-md-offset-1 text-center">
                <i style="color: black" class="fa fa-envelope-o fa-4x"></i>
            </div>

            <div class="col-md-1 col-md-offset-1 text-center">
                <i style="color: black" class="fa fa-mobile fa-4x"></i>
            </div>

            <div class="col-md-1 col-md-offset-1 text-center">
                <a href="http://plus.google.com"><i style="color: black" class="fa fa-google-plus fa-4x"></i></a>
            </div>

            <div class="col-md-1 col-md-offset-1 text-center">
                <a href="http://www.facebook.com"> <i style="color: black" class="fa fa-facebook fa-4x"></i></a>
            </div>


            <div class="col-md-1 col-md-offset-1 text-center">
                <a href="http://www.twitter.com"> <i style="color: black" class="fa fa-twitter fa-4x"></i></a>
            </div>

        </div>

        <div class="row margin-top20">
            <div class="col-md-2">
                <div><a href="@routes.ContactUss.newContact()">Contact Us</a> </div>
            </div>


            <div class="col-md-2">
                <p>support@@a4.com</p>
            </div>


            <div class="col-md-2">
                <p>8802004818</p>
            </div>


            <div class="col-md-2">
                <a href="http://plus.google.com"><p>Add Us</p></a>
            </div>


            <div class="col-md-2">
                <a href="http://www.facebook.com"><p>Like Us</p></a>
            </div>


            <div class="col-md-2">
                <a href="http://www.twitter.com"><p>Follow us</p></a>
            </div>


        </div>
    </div>

    <div class="margin-top30">

    </div>

</div>