@(answer:String)

@main("Forgot Password Result") {

    <div class="container-fluid">
        <div class="">
            <div class="row row-centred margin-top300">
                <div class="col-md-3 col-centred ">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>Your Password</h4>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <span class="col-md-10 col-md-offset-1">
                                    <h3>Your password is:</h3>
                                </span>
                            </div>
                            <div class="row margin-top20">
                                <span class="col-md-10 col-md-offset-1">
                                    <h4><b>@answer</b></h4>
                                </span>
                            </div>

                    </div>
                    <div class="row text-center margin-top30">
                    </div>

                </div>
            </div>
        </div>
    </div>

}