@(userForm:Form[User])

@main("Sign Up!") {
    <div class="container">
        <div class="col-md-10 col-md-offset-1 margin-top40">
            <div class="panel panel-primary margin-top70">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up!</h3>
                </div>

        <div class="panel-body">
            @helper.form(action = routes.Users.save() , 'enctype -> "multipart/form-data") {

                 <div class="row margin-top40">
                    <div class="col-md-2 col-md-offset-2 ">
                        <label><b>Full Name</b></label>
                    </div>
                    <div class="col-md-6">
                      @*  @helper.inputText(userForm("name"))
*@
                          <input type="text" name="name" class="form-control" />

                    </div>
                </div>

                    <div class="row margin-top20">
                        <div class="col-md-2 col-md-offset-2">
                            <p><b>E-mail Address</b></p>
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="email" class="form-control"/>
                        </div>
                    </div>

                    <div class="row margin-top20">
                        <div class="col-md-2 col-md-offset-2">
                            <p><b>Password</b></p>
                        </div>
                        <div class="col-md-3">
                            <input type="password" name="password" class="form-control"/>
                        </div>
                    </div>



                    <div class="row margin-top20">
                        <div class="col-md-2 col-md-offset-2">
                            <p><b>Gender</b></p>
                        </div>
                        <div class="col-md-3">
                           <select class="form-control">
                               <option value="na">Select</option>
                               <option value="male">Male</option>
                               <option value="female">Female</option>
                           </select>
                        </div>
                    </div>



                    <div class="row margin-top20">
                        <div class="col-md-2 col-md-offset-2">
                            <p><b>Date Of Birth</b></p>
                        </div>
                        <div class="col-md-3">
                            <input type="date" name="dateOfBirth" class="form-control"/>
                        </div>
                    </div>


                    <div class="row margin-top20">
                        <div class="col-md-2 col-md-offset-2">
                            <p><b>Address</b></p>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="addressLine1" class="form-control"/>
                        </div>
                    </div>

                    <div class="row margin-top10">

                        <div class="col-md-6 col-md-offset-4">
                            <input type="text" name="addressLine2" class="form-control"/>
                        </div>
                    </div>


                    <div class="row margin-top20">
                        <div class="col-md-2 col-md-offset-2">
                            <p><b>Pincode</b></p>
                        </div>
                        <div class="col-md-3">
                            <input type="number" name="pinCode" class="form-control"/>
                        </div>
                    </div>

                    <div class="row margin-top20">
                        <div class="col-md-2 col-md-offset-2">
                            <p><b>Contact No.</b></p>
                        </div>
                        <div class="col-md-6">
                            <input type="number" name="contactNo" class="form-control"/>
                        </div>
                    </div>



                    <div class="row margin-top20">
                        <div class="col-md-2 col-md-offset-2">
                            <p><b>Security Question</b></p>
                        </div>
                        <div class="col-md-6">
                            <input type="text"  class="form-control"/>
                        </div>
                    </div>



                    <div class="row margin-top20">
                        <div class="col-md-2 col-md-offset-2">
                            <p><b>Security Answer</b></p>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="securityAnswer" class="form-control"/>
                        </div>
                    </div>



                <div class="row margin-top20">
                    <div class="col-md-2 col-md-offset-2">
                        <p><b>Profile Picture</b></p>
                    </div>
                    <div class="col-md-4">
                        <input type="file" name="picture" class="form-control"/>
                    </div>
                </div>



                <div class="row margin-top40">

                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit" class="btn  btn-primary" value="Submit" />
                    </div>
                </div>

                <div class="margin-top40">

                </div>

            </div>
            }
        </div>
    </div>
    </div>
}
