@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@title</title>
        <link href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link lang="javascript" href="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")">
        <link rel="stylesheet" href="@routes.Assets.versioned("fontawesome/css/font-awesome.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap-rating/bootstrap-rating.css")">
        <script src="@routes.Assets.versioned("jquery/jquery-2.1.4.min.js")" type="text/javascript"> </script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("form-validator/theme-default.css")" />
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("jquery/jquery-2.1.4.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("form-validator/jquery.form-validator.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("bootstrap-rating/bootstrap-rating.js")" type="text/javascript"></script>
    </head>

    <body class="background-pic">
        <div class="">

            @if(flash.containsKey("success")) {
                <div class="alert alert-success">z
                    @flash.get("success")
                </div>
            }

            @if(flash.containsKey("error")) {
                <div class="alert alert-danger">
                @flash.get("error")
                </div>
            }
            @if(flash.containsKey("loggedIn")) {
                <div class="alert alert-success">
                @flash.get("loggedIn")
                </div>
            }

            @if(flash.containsKey("notLoggedIn")) {
                <div class="alert alert-success">
                @flash.get("notLoggedIn")
                </div>
            }
        @content
        </div>




        <script>

$(function(){

$.validate();
})

</script>



    </body>
</html>
